mixin inputText(elementClass, inputID, inputLabel, isRequired, errorID)
  div(class='slds-form-element ' + elementClass)
    label.slds-form-element__label(for='input-unique-id')
    if isRequired
      abbr.slds-required(title='required') *
      |= inputLabel
    else
      |= inputLabel
    .slds-form-element__control
    if isRequired
      input.slds-input(id= inputID, type='text', required='', aria-describedby= errorID)&attributes(attributes)
    .slds-form-element__help(id= errorID)
      block
    else
      input.slds-input(id= inputID, type='text')&attributes(attributes)
