.sidebar {
	@media (min-width: $screen-lg) {
		display:flex;
		flex-direction:column;
	}
	&.right {
		border-radius:3px;
		background:white;
		@media (min-width:$screen-sm) {
			width:260px;
			min-width:260px;
			margin-left:$gap-sm;
		}
		@media (min-width:$screen-lg) {
			width:300px;
			min-width:300px;
			margin-left:$gap;
		}
	}
}

.sidebar-nav {
	display:flex;
	flex-direction:column;
	min-height:300px;
	> a {
		display:flex;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		&:hover,&:focus,&:active {
			text-decoration:none;
		}
	}
	.name {
		font-size:18px;
		display: flex;
		align-items:center;
		transition:all 0.15s;
	}
}

