extends ../layouts/default.pug

block variables
  - var pageName = 'Home';
  - var pageDescription = 'Sample page description';
  - var currentPage = 'index';

block stylesheets

block content
  h1 Hey look, it's working!

block scripts
